@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  @apply text-white;
}

.fw-m {
  font-weight: 600;
}

.fw-l {
  font-weight: 700;
}

.myPic {
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}

.align-item {
  align-items: center;
}
